# Ignore compiled binaries
server
client
storage/*
!storage/.gitkeep

# Object files, executables
*.o
*.obj
*.exe
*.out

# Build folders
/build/
/dist/

# Editor files
.vscode/
*.swp
*~
.DS_Store

# Logs
*.log
server_log.txt
